*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1000px !important;
}
a{
  text-decoration: none !important;
}
ul{
  list-style: none;
}
button{
  border: none;
  background-color: transparent;
}
body {
  background-color: #fafafa !important;
  min-height: 100vh;
  width: 100%;
  padding-top: 90px;
}
.card-list{
  list-style: none;
  gap: 28px 0px;
}
.card-item{
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}
.img-color{
  width: 305px;
  height: 305px;
  position: absolute;
  left: 0;
  top: 0;
}
.card-item:hover .img-color{
  background-color: rgba(0, 0, 0, 0.322);
}
.icon-wrapper{
  align-items: center;
  height: 100%;
  opacity: 0;
}
.card-item:hover .icon-wrapper{
  opacity: 1;
}
.card-info{
  color: #fff;
}
.bxs-heart, .bxs-message-rounded{
  font-size: 23px;
  color: #fff;
}
.icon-span{
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 33px;
  color: #fff;
}
.modal-content{
  width: 76vw !important;
  height: 665px !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0 6px 6px 0 !important;

}
.modal-img{
  border-radius: 0px !important;
}
.modal-body{
  padding: 0 0 !important;
  overflow: hidden;
}

.bx-x{
  position: absolute;
  right: -145px;
  top: -15px;
  font-size: 45px;
  color: #fff;
}
.icon-img{
  border-radius: 50%;
}
.dot{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
  position: relative;
  top: -3px;
  left: 2px;
}
.modal-head{
  border-bottom: 1px solid rgba(204, 204, 204, 0.582);
  width: 100%;
  padding-bottom: 12px;
}
.bx-dots-horizontal-rounded{
  font-size: 25px;
}
.najot-text{
  font-weight: 600;
  font-size: 14px;
}
.modal-desc{
  overflow-y: scroll;
  height: 440px;
}
.modal-desc::-webkit-scrollbar{
  width: 0;
}
.card-text{
  font-size: 14px;
}
.comment-icons{
  font-size: 27px;
}
.hour-text{
  font-size: 12px;
  color: rgb(155, 149, 149);
}
.comment-input{
  border: none;
  width: 350px;
}
.comment-input:focus{
  outline: none;
}
.hash-tag{
  margin-top: -10px;
  padding-left: 44px;
}
.post-btn{
  color: #0a98f65b;
}
.bx-smile{
  position: relative;
  top: 6px;
}
.bx-play{
  font-size: 30px;
  color: #fff;
}
#header{
  padding: 14px 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.596);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 111;
  background-color: #fff;

}
.header__icons{
  font-size: 27px;
}
.header__icons--last{
  color: #ccc;
}
.header__input{
  margin-right: 100px;
  width: 268px;
  background-color: #efefef;
  border: none;
  padding: 6px 35px;
  border-radius: 6px;
}
.header__input::placeholder{
  color: #999;
}
.header__input:focus{
  outline: none;
}
.header__logo__box{
  flex-grow: 1;
}
.header__inp__wrapper{
  position: relative;
}
.bx-search{
  position: absolute;
  left: 10px;
  top: 11px;
  color: #777;
}
.img-holder img{
  width: 100%;
  height: 664px;
}
.modal-video{
 height: 665px;
 width: 100%;
 background-color: #000;
}
.content__line{
  width: 100%;
  height: 0.5px;
  background-color: rgba(204, 204, 204, 0.5);
  display: inline-block;
}
.content__link{
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.slider-icon{
  font-size: 30px;
}
.card-list{
  display: flex;
  flex-wrap: wrap;
}
.content__item{
  margin-right: 60px;
}
.Post{
  color: #262626;
}
.content__icon{
  position: relative;
  top: 2px;
}
.hero__img{
  border-radius: 50%;
}
.hero__link{
  position: relative;
  top: 10px;
}
.hero__link::before{
  content: "";
  width: 185px;
  height: 185px;
  border-radius: 50%;
  position: absolute;
  left: -9px;
  bottom: 0;
  top: -79px;
  right: 0;
  border: 3.5px solid  #F77737;
}

.hero__title {
  font-size: 28px;
  font-weight: 300;
  position: relative;
  top: -4px;
}
.hero__link--active {
  padding: 5px 9px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  border-radius: 4px;
  height: 33px;

}
.hero__link--active:hover{
  color: #000;
}
.hero__follow {
  padding: 3px 24px;
  border-radius: 4px;
  background-color: #0095f6;
  color: #fff;
  font-weight: 600;
  height: 31px;
}
.hero__follow--down{
  padding: 4px 12px;
}
.hero__follow:hover{
  color: #fff;
}
.hero__bold__text{
  font-weight: 600;
}
.hero__sub__title{
  color: #8e8e8e;
}
.bxs-hand-right{
  color: #ffc83d;
  font-size: 20px;
}
.hero__link{
  margin-left: -250px;
}
.hero__inner{
  margin-bottom: 44px;
}
.hero__slide__img{
  border-radius: 50%;
  margin-bottom: -15px;
}
.hero__slide__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero{
  overflow: hidden;
}
.slider-ul{
  position: relative;
  flex-wrap: wrap;
}
.hero__slide__arrow{
  height: 140px;
}
.hero__btn__box{
 position: absolute;
 left: 90px;
}
.hero__arrow__icon{
  opacity: 0.6;
  font-size: 25px;
}
.bxs-chevron-left-circle{
  position: relative;
  right: 90px;
}
.modal-heart-icon{
  color: red;
  font-size: 60px;
  position: absolute;
  top: 43%;
  left: 46%;
  transition: all 2s ease;
  transform: scale(1);
}